nav{
    height: 100px;
    color: white;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    background-color: #800020;
}

#dashboard{
    position: absolute;
    bottom: 0px;
    left: 50px;
}

#profile_pic{
    position:absolute;
    bottom: 5px;
    right: 50px;
}

#leftbar{
    width: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
}

#leftbar div{
    padding-top: 40px;
}