/*
.table{
    width: 50%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
*/
#infoBox{
    display: none;
}

table tr td{
   background-color: red;
    border-left: 30px;
}

#functionBox{
    display: none;
}

#pageNumbersBox{
    margin: 0 auto;
}

.table{
    width:150px;
    margin: 0 auto;
}