<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="style_functions.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="handleFunctionality.js"></script>
</head>
    <input id="object_id" type = "text" placeholder="Object ID" name="object_id"></input>
    <input id="subject_id" type = "text" placeholder="Subject ID" name="subject_id "></input>
<button id="search_button"> Search Based On Subject ID/Object ID or Both! </button>
<div id="functionBox">
    <select id="functions">
        <option>-- select a function --</option>
    </select>

    <select id="parameterBox">

    </select>
    <div id="buttonBox">
        <button id="enable" type="button" class="btn btn-success"> Enable Function </button>
        <button id="disable" type="button" class="btn btn-danger"> Disable Function </button>

    </div>
</div>



<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>

</html>