<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="objects_style.css"></link>
<script type="text/javascript" src="objects_js.js"></script>
<head>
    <link rel="stylesheet" href="objects_style.css"></link>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

<button class="glyphicon glyphicon-plus btn btn-default add" type="button"  data-toggle="modal" data-target="#create_dialog"></button>
<form>
    <div class="form_group">
        <input id="search_object_type" type="text" placeholder="Search object type" class="form-control"></input>
        <input id="search_object_building" type="text" placeholder="Search building type" class="form-control"></input>
        <input id="search_object_room" type="text" placeholder="Search object room" class="form-control"></input>
        <button  type="button" class="btn-btn-primary" id="search_object_button"> Search Object </button>
    </div>
</form>
<div class="modal fade" id="create_dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="form-group" id="create_object_id_section">
                        <label> Object ID </label>
                        <input class="form-control" placeholder="Enter object id"> </input>
                    </div>
                    <div class="form-group"  id="create_object_type_section">
                        <label> Object Type </label>
                        <input class="form-control" placeholder="Enter object type"> </input>
                    </div>
                    <div class="form-group" id="create_object_room_section">
                        <label> Room </label>
                        <input class="form-control" placeholder="Enter object room no"> </input>
                    </div>
                    <div class="form-group" id="create_object_building_section">
                        <label> Building </label>
                        <input class="form-control" placeholder="Enter object Building "> </input>
                    </div>
                    <div class="form-group" id="create_function_section">
                        <label> Function Name </label>
                        <input class="form-control" placeholder="You must add a function "> </input>
                    </div>
                    <button type="submit" id="create_button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


<div class="modal fade" id="update_dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="form-group" id="object_id_section">
                        <label> Object ID </label>
                        <input class="form-control" placeholder="Enter object id"> </input>
                    </div>
                    <div class="form-group"  id="object_type_section">
                        <label> Object Type </label>
                        <input class="form-control" placeholder="Enter object type"> </input>
                    </div>
                    <div class="form-group" id="object_room_section">
                        <label> Room </label>
                        <input class="form-control" placeholder="Enter object room no"> </input>
                    </div>
                    <div class="form-group" id="object_building_section">
                        <label> Building </label>
                        <input class="form-control" placeholder="Enter object Building "> </input>
                    </div>
                    <div class="form-group" id="function_name_section">
                        <label> Function Name </label>
                        <input class="form-control" placeholder="Enter A Function Name If You Would Like To Add One "> </input>
                    </div>
                    <select id="functions">

                    </select>
                    <button type="submit" id="delete_function_button" class="btn btn-primary"> Delete Function </button>
                    <button type="submit" id="add_function_button" class="btn btn-primary"> Add Function </button>
                    <button type="submit" id="update_button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div  th:fragment="refreshTable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>    Object Id   </th>
                <th>    Object Type </th>
                <th>    Room        </th>
                <th>    Building    </th>
                <th>    Delete      </th>
                <th>    Update      </th>
            </tr>
        </thead>
        <tbody >

        </tbody>
    </table>
</div>
</body>
</html>

